body{
  background-color:#121d5a;
  font-family: 'Avenir', sans-serif;
  /*font-size: 0;*/
}
.text{
  margin: 2vw 10vw 10vw 7.77vw;
}

.name{
  letter-spacing: 0.5vw;
}

.last_name{
  padding-left:calc(4.89px + 1.9599999996vw);
}

.about{
  padding-left:2.23vw;
  padding-top: 2vw;
  color:white;
  font-size: 30px;
  /*text-align: justify;*/
  text-justify: inter-word;
  max-width: 80vw;
}

.inner{
  padding-left:6vw;
}

.about a{
  color:white;
}

a:hover{
  color: #fbcd1b;
}

h1 {
  color: #FFFFFF;
  text-shadow: 1px 1px #121d5a, 2px 2px #121d5a, 3px 3px #121d5a, 4px 4px #121d5a, 5px 5px #121d5a, 6px 6px #121d5a, 7px 7px #121d5a, 8px 8px #121d5a, 9px 9px #121d5a, 10px 10px #121d5a, 11px 11px #121d5a, 12px 12px #121d5a, 13px 13px #121d5a;
  font-weight: 900;
  font-size: 4em;
  -webkit-text-stroke: 1.5px #121d5a;
}

.reactivename {
  padding-top: 50px;
  padding-bottom: 50px;
}

.reactivename:hover {
  background-color: #fbcd1b;
}

@media only screen and (max-width: 320px) {
  .reactivename {
    background-color: #fbcd1b;
  }
}

h1.reactivenameh {
  text-align: center;
  font-size: 100pt;
}

